<div class="cards__card card _hover">
  <div class="card__image-block">
    <img class="card__image" src="@img/image_06.png" alt="card-image">
  </div>
  <div class="card__body">
    <div class="card__date">2 августа, 2019</div>
    <h3 class="card__title">Национальное достояние – парки</h3>
    <p class="card__text">В 2016 году Америка отмечала важный юбилей: сто лет назад здесь начала складыв Америка
      отмечала важный юбилей: сто лет назад здесь начала складыв</p>
    <a class="card__link" href="#" target="_blank" rel="noopener noreferrer">Лента.ру</a>
  </div>
  <div class="card__box">
    <button class="card__tag-button _button-block _button-block_rectangular" type="button">Природа</button>
    <button class="card__hint-button _button-block _button-block_rectangular" type="button"> Убрать из
      сохранённых</button>
    <button class="card__save-button _button-block" type="button">
      <img src="@svg/bookmark_normal.svg" alt="save-card-icon">
    </button>
  </div>
</div>