<header class="header _active">
  <div class="header__wrapper">
    <div class="header__container _container">
      <a class="header__logo" href="/" target="_blank" rel="noopener noreferrer">NewsExplorer</a>
      <div class="header__body _menu">
        <nav class="header__nav">
          <ul class="header__list">
            <li class="header__item">
              <a class="header__link _active" href="/" target="_blank" rel="noopener noreferrer">Главная</a>
            </li>
          </ul>
          <div class="header__button-block">
            <button class="header__button">Авторизоваться</button>
          </div>
        </nav>
      </div>

      <div class="header__burger _burger">
        <span></span>
        <span></span>
      </div>
    </div>

  </div>
</header>