<section class="about-us _section">
  <div class="about-us__container _container">
    <div class="about-us__image-container">
      <img src="@img/avatar.jpg" alt="avatar">
    </div>
    <div class="about-us__content">
      <h2 class="about-us__title">Об авторе</h2>
      <p class="about-us__text">Это блок с описанием автора проекта. Здесь следует указать, как вас зовут, чем вы
        занимаетесь, какими технологиями разработки владеете.</p>
      <p class="about-us__text">Также можно рассказать о процессе обучения в Практикуме, чему вы тут научились, и чем
        можете помочь потенциальным заказчикам.</p>
    </div>
  </div>
</section>