.intro {
  // .intro__video-container
  height: 60vh;
  position: relative;
  transition: height 0.5s ease-in-out;
  @media (max-width: ($m+px)) {
    height: 100vh;
    &._search-active {
      height: 60vh;
    }
    &._scroll {
      height: 60vh;
      @media (max-width: ($xxs+px)) {
        height: 77vh;
      }
    }
  }
  &__video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.15);
      z-index: 2;
    }
  }

  // .intro__video

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  // .intro__container

  &__container {
    color: $whiteColor;
    position: relative;
    z-index: $zIndexLight;
    @include adaptive-value("max-width", 640, 448, $s);
    @include adaptive-value("padding-top", 160, 80, 0);
    @media (max-width: ($m+px)) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
    }
  }

  // .intro__title

  &__title {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    @include adaptive-value("line-height", 64, 35, 0);
    @include adaptive-value("font-size", 60, 32, 0);
  }

  // .intro__subtitle

  &__subtitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: rem(18);
    line-height: rem(24);
    @include adaptive-value("margin-top", 32, 16, $xxs);
  }

  // .intro__search-form

  &__search-form {
    display: flex;
    position: relative;
    @include adaptive-value("margin-top", 64, 48, $s);
    @media (max-width: ($s+px)) {
      flex-direction: column;
    }
  }

  // .intro__input

  &__input {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: rem(16);
    line-height: rem(22);
    width: 100%;
    border: 1px solid #d1d2d6;
    backdrop-filter: blur(8px);
    background-color: $whiteColor;
    border-radius: rem(100);
    @include adaptive-value("padding-top", 20, 14, 0);
    @include adaptive-value("padding-bottom", 20, 14, 0);
    padding-left: rem(24);
    padding-right: rem(24);
  }

  // .intro__button

  &__button {
    width: 100%;
    margin-top: rem(16);
    @media (min-width: ($s+px)) {
      max-width: rem(168);
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      margin-top: 0;
    }
  }
}
