<section class="intro">
  <div class="intro__video-container">
    <video class="intro__video" src="./files/intro_2.mp4" poster="@img/intro.png" autoplay muted playsinline></video>
  </div>
  <div class="intro__container _container">
    <h1 class="intro__title">Что творится <br> в мире?</h1>
    <h2 class="intro__subtitle">Находите самые свежие статьи на любую тему и сохраняйте в своём личном кабинете.</h2>

    <form class="intro__search-form">
      <input class="intro__input" type="text" required>
      <button class="intro__button _button _button_blue" type="submit">Искать</button>
    </form>
  </div>
</section>