<footer class="footer">
  <div class="footer__container _container">
    <p class="footer__copyright">&copy; 2022 Supersite, Powered by News API</p>
    <nav class="footer__nav">
      <ul class="footer__list">
        <li class="footer__item">
          <a class="footer__link" href="/" target="_blank" rel="noopener noreferrer">Главная</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="https://practicum.yandex.ru/web/" target="_blank"
            rel="noopener noreferrer">Яндекс.Практикум</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="https://practicum.yandex.ru/web/" target="_blank" rel="noopener noreferrer">
            <img class="footer__social-icon" src="@svg/github.svg" alt="git-logo" width="20" height="20">
          </a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="https://practicum.yandex.ru/web/" target="_blank" rel="noopener noreferrer">
            <picture>
              <source media="(max-width: 768px)" srcset="@svg/vk.svg">
              <source media="(max-width: 1232px)" srcset="@svg/vk-circle.svg">
              <source media="(max-width: 1440px)" srcset="@svg/vk.svg">
              <img class="footer__social-icon" src="@svg/vk.svg" alt="vk-logo" width="20" height="20">
            </picture>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</footer>